@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Stick', sans-serif;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  overflow: hidden;
  margin: 0;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 0;
}

.thailand{
  background-image: url('./assets/thailand.jpg');
}

.vietnam{
  background-image: url('./assets/vietnam.jpg');
}

.uruguay{
  background-image: url('./assets/uruguay.jpg');
}

.canary{
  background-image: url('./assets/canary.jpg');

}
.germany{
  background-image: url("./assets/germany.jpeg");
}

.photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
  cursor: pointer;
}

.photo h3 {
  font-size: 20px;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.photo.active {
  flex: 5;
}

.photo.active h3 {
  opacity: 1;
  transition-delay: 0.5s;
}

